/* O scroll behavior define o comportamento 
do scroll quando você clicar nas âncoras. Ele faz uma animação
para a visualização descer suave :) */

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat';
    margin: 0;
}

/* Configurações da Nav */

nav{
    align-items: center;
    background-color: white;
    display: flex;
    height: 100px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

nav :first-child img{
    width: 120px;
}

nav :nth-child(2){
    display: flex;
    justify-content: space-around;
    width: 450px;
}

nav :nth-child(2) a{
    color: rgb(61, 61, 61);
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
}

nav :nth-child(2) a:hover{
    color: orangered;
}

/* Configurações do header */

header{
    align-items: center;
    background-image: url(images/mulhermaravilha.png);
    background-size: cover;
    display: flex;
    height: 900px;
    justify-content: center;
}

header div{
    color: white;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    width: 65%;
}

header div h1{
    font-size: 8rem;
    font-weight: 800;
    margin: 0;
}

header div p{
    font-size: 3.1rem;
    margin: 0;
    padding-bottom: 25px;
}

header div button{
    background-color: white;
    border-radius: 50px;
    border-style: none;
    color: orangered;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 2rem;
    height: 100px;
    width: 350px;
}

button:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

/* Configurações da primeira section */

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 2300px;
    justify-content: center;
}

.container-section{
    display: flex;
    flex-direction: column;
    height: 2100px;
    width: 65%;
}

.div-pesquisa{
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.div-pesquisa h2, h2{
    color: rgb(61, 61, 61);
    font-size: 2.1rem;
}

.div-pesquisa div{
    display: flex;
    justify-content: space-between;
}

.div-pesquisa input{
    border: 2px solid  rgb(109, 109, 109);
    border-radius: 50px;
    height: 65px;
    font-family: 'Montserrat';
    font-size: 2rem;   
    text-align: center;
    width: 74%;
}

.div-pesquisa input::placeholder{
    color:  rgb(109, 109, 109);
    font-size: 2rem;
    font-family: 'Montserrat';
    text-align: center;
} 

input:focus::-webkit-input-placeholder {
    color: transparent;
 }

.div-pesquisa button{
    background-color: rgb(36, 36, 36);
    border-radius: 50px;
    border-style: none;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 700;
    height: 71px;
    width: 20%;
}

.container-filmes{
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-top: 50px;
}

.container-filmes div{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 450px;
}

.container-filmes img{
    width: 210px;
    height: 300px;
}

.container-filmes p{
    font-size: 1.2rem;
    font-weight: 800;
    width: 150px;
    text-align: center;
}

.config-botoes{
    background-color: #cd511e;
    border-radius: 50px;
    border-style: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    height: 60px;
    width: 210px;
}

.container-filmes div button:hover{
    background-color: transparent;
    border: 2px solid #cd511e;
    color: #cd511e;
}

.frase{
    font-weight: 700;
    font-size: 5rem;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 35px;
}

.frase p{
    background-color: rgb(36, 36, 36);
    color: white;
    width: max-content;
    margin: 0;
}

/* Configurações do aside */

aside{
    align-items: center;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
}

.aside-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    width: 65%;
}

aside h2{
    color: white;
}

.jackie-container{
    display: flex;
    align-items: center;
}

.jackie-container div{
    width: 50%;
}

.jackie-container img{
    border-radius: 100%;
    height: 550px;
    width: 550px;
}

.jackie-texto{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.jackie-texto h3{
    color: #cd511e;
    font-weight: 800;
    font-size:4rem;
    margin: 0;
}

.jackie-texto p{
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    width: 60%;
}

.jackie-texto button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.jackie-texto button:hover{
    background-color: #cd511e;
    border: 2px solid #cd511e;
    color: rgb(36, 36, 36);
}
/* Configurações do footer */

footer{
    align-items: center;
    background-color: #cd511e;
    display: flex;
    height: 500px;
    justify-content: center;
}

.footer-container{
    background-color: rosybrown;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 65%;
}

.footer-container img{
    width: 70px;
}

.icones{
    display: flex;
    justify-content: space-between;
}

.icones div{
    width: 50%;
    background-color: rgb(24, 24, 22);
    display: flex;
}

.icones p{
    color: white;
    font-size: 1.9rem;
    margin: 0;
}
.icones-texto{
    display: flex;
    flex-direction: column;
    height: 100px;
}